* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/static/Merriweather_120pt-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/static/Nunito-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

body {
    background: white;
    font-family: 'Nunito';
    font-size: 18px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 60px;
    height: 100px;
}

.links {
    font-weight: 700;
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}

.links li {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: black;
}

.links li:hover {
    text-decoration: underline
}

.loginButton,
.loginButton * {
    text-decoration: none !important;
}

.loginButton {
    color: black;
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    white-space: nowrap;
}

@keyframes gradient {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 100% 90%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.loginButton:hover {
    transform: translateY(-3px);
}

.kzLogo {
    width: 150px;
}

.fileuploadContainer {
    background: linear-gradient(-45deg, #c8b6a6, #8d7b68, #a4907c, #e9e0ca);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 80px;
}


.fileuploadBox {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 40px 48px;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}